.login-content {
	position: relative;
	top:2px;
	left: 0px;
	*zoom:1;
}

.DLogin {
	width: 440px;
	height: 140px;
	margin:0px auto;
	text-align:left;
	padding:15px;
}

.sub-ar-login {
	background:#89BBE4;
	margin:0px auto;
	width:405px;
	padding:0 10px 0 20px;
	position:absolute;
	top:0;
	right:0;
	z-index:90;
	-webkit-border-radius:8px 8x 8px 8px;
	-moz-border-radius:8px 8px 8px 8px;
	-o-border-radius:8px 8px 8px 8px;
	border-radius:8px 8px 8px 8px;
	behavior:url(/css/PIE.htc)
}


.sub-ar-login .control-label{
	color:#fff;
	font-size:11px;
	line-height:12px;
	clear:both;
}
.sub-ar-login .add-on,.sub-ar-login .input-small {
	line-height:17px;
	height:17px;
	font-size:12px;
	font-weight:bold;
	color#000
}


.sub-ar-login a {
	color:#fff
}

.sub-ar-login form {
	margin:0;
	*margin:0 0 10px;
	height:48px
}

.sub-ar-login ul.sub-ar-inputs{
	list-style:none;
	margin:0
}

.sub-ar-login ul.sub-ar-inputs li:first-child{
	padding-left:0
}

.sub-ar-login ul.sub-ar-inputs li{
	display:inline-block;
	*display:inline;
	*zoom:1;
	vertical-align:middle;
	padding-left:5px
}

.sub-ar-login ul.sub-ar-inputs .add-on .icon-user,.sub-ar-login ul.sub-ar-inputs .add-on .icon-lock {
	-webkit-opacity:.5;
	-moz-opacity:.5;
	filter:alpha(opacity=50);opacity:.5
}

.sub-ar-login ul.sub-ar-footer {
	width:100%;
	font-size:11px;
	font-weight:normal;
	color:#fff;
	margin:0;
	position:relative
}

.sub-ar-login ul.sub-ar-footer li {
	display:inline-block;
	*display:inline;
	*zoom:1;
	line-height:20px;
	vertical-align:middle;
	padding:0 10px 0
}

.sub-ar-login ul.sub-ar-footer li label {
	font-size:11px;
	font-weight:normal;
	color:#fff;
	margin-bottom:0;
	width:180px
}

.sub-ar-login ul.sub-ar-header {
	width:100%;
	font-size:12px;
	font-weight:normal;
	color:#fff;
	margin:0;
	position:relative
}

.sub-ar-login ul.sub-ar-header li {
	display:inline-block;
	*display:inline;
	*zoom:1;
	line-height:20px;
	vertical-align:middle;
	padding:0 10px 0
}

.sub-ar-login ul.sub-ar-header li label {
	font-size:12px;
	font-weight:normal;
	color:#FF0000;
	margin-bottom:0;
	width:180px
}


.sub-ar-login .select-list-tipo {

}

.sub-ar-login ul.sub-ar-footer a.bt-fechar{
	position:absolute;
	top:0;
	right:0
}

.sub-ar-login ul.sub-ar-footer a.bt-fechar:hover {
	text-decoration:none
}

.sub-ar-login .close-ar .bt-entrar{
	position:absolute;
	top:0;
	right:20px;
	display:block;
	padding:0 18px;
	text-align:center;
	color:#fff;
	background:#f36f23
}

.sub-ar-login .close-ar .bt-entrar .up-arrow {
	background:url(/imgs/up-arrow-orange.gif) no-repeat center center;
	display:block;
	height:8px;
	position:absolute;
	padding:0;
	top:-7px;
	left:0;
	width:100%
}

.sub-ar-login .close-ar {
	width:102.5%;
	background-color:#003f78;
	display:block;
	margin:10px 0 0 -20px;
	padding:0 10px;
	-webkit-border-radius:0 0 8px 8px;
	-moz-border-radius:0 0 8px 8px;
	-o-border-radius:0 0 8px 8px;
	border-radius:0 0 8px 8px;
	behavior:url(/css/PIE.htc)
}

.sub-ar-inputs .input-prepend .add-on{
	*margin:1px 0 0 0!important
}

.sub-ar-login .error{
	border:1px solid red
}

.sub-ar-login .forgot-pwd{
	font-size:9px;
	padding-left:3px
}




	
.restricted-area-login{
	background:url(/imgs/header-sprite.png) no-repeat 0 -24px;
	line-height:14px;
	padding:0 0 0 12px
}

.header-tab-menu a {
	color:#fff
}


.sub-ar-login .input-prepend {
	margin-bottom:0!important
}

.sub-ar-login a {
	color:#fff
}

.sub-ar-login form {
	margin:0;
	*margin:0 0 10px;
	height:48px
}

.control-label {
	cursor:default!important
}

.alinha-login {
	width:auto;
	float:left;
	display:block;
	margin-right:6px
}

.first {
	width:125px!important
}

.sub-ar-login ul.sub-ar-inputs {
	list-style:none;
	margin:0
}

.sub-ar-login ul.sub-ar-inputs li:first-child {
	padding-left:0
}

.sub-ar-login ul.sub-ar-inputs li {
	display:inline-block;
	*display:inline;
	*zoom:1;
	vertical-align:middle;
	padding-left:5px
}

.sub-ar-login ul.sub-ar-inputs .add-on .icon-user,.sub-ar-login ul.sub-ar-inputs .add-on .icon-lock {
	-webkit-opacity:.5;
	-moz-opacity:.5;
	filter:alpha(opacity=50);
	opacity:.5
}

.sub-ar-login ul.sub-ar-footer {
	width:100%;
	font-size:11px;
	font-weight:normal;
	color:#fff;
	margin:0;
	position:relative
}

.sub-ar-login ul.sub-ar-footer li {
	display:inline-block;
	*display:inline;
	*zoom:1;
	line-height:20px;
	vertical-align:middle;
	padding:0 10px 0
}

.sub-ar-login ul.sub-ar-footer li label {
	font-size:11px;
	font-weight:normal;
	color:#fff;
	margin-bottom:0;
	width:140px
}

